[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "web3_coffee"]
    path = web3_coffee
    url = https://github.com/beetlejusse/web3_coffee-devDock
